# 데이터프레임 연습문제

### 1. 패키지 임포트

In [1]:
# 필요 패키지 import
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### 2. 데이터프레임 생성

#### 1) 다음의 조건을 만족하는 데이터프레임을 생성하시오.

- 데이터(values) : numpy 패키지의 randn 함수를 이용해서 난수 n 개 생성
- 행방향 인덱스(index) : date_range()를 이용한 날짜 데이터
- 열방향 인덱스(column) : ['A','B','C','D']
- 데이터프레임 이름 : df1

In [ ]:
df1=

#### 2) 다음 결과와 같은 데이터프레임을 생성하시오.

In [2]:
df={'나이':[22,45,22,33,27],'몸무게':[60.1,51.3,68.3,88.3,48.3],
                 '키':[170.5,157.3,180.1,190.2,160.1],'성별':['남','여','남','남','여'],
                 '주소':['서울','부산','대구','제주','강릉']}
df2=pd.DataFrame(data=df,index=['홍길동','이몽룡','성춘향','변학도','김연아'])
df2

     나이   몸무게      키 성별  주소
홍길동  22  60.1  170.5  남  서울
이몽룡  45  51.3  157.3  여  부산
성춘향  22  68.3  180.1  남  대구
변학도  33  88.3  190.2  남  제주
김연아  27  48.3  160.1  여  강릉

### 3. 데이터프레임 전치

- 문제2의 2) 데이터프레임 df2를 전치 후 df3로 저장하고 원본과 비교 출력하시오.

In [3]:
df2
df3=df2.T
df3

     나이   몸무게      키 성별  주소
홍길동  22  60.1  170.5  남  서울
이몽룡  45  51.3  157.3  여  부산
성춘향  22  68.3  180.1  남  대구
변학도  33  88.3  190.2  남  제주
김연아  27  48.3  160.1  여  강릉

       홍길동    이몽룡    성춘향    변학도    김연아
나이      22     45     22     33     27
몸무게   60.1   51.3   68.3   88.3   48.3
키    170.5  157.3  180.1  190.2  160.1
성별       남      여      남      남      여
주소      서울     부산     대구     제주     강릉

### 4. 인덱싱 문제

#### 1) 다음 데이터프레임을 생성하시오.

- 데이터는 딕셔너리를 이용하여 df4로 생성하시오.

In [4]:
d={'국어':[80,90,70,30],'영어':[90,70,60,40],'수학':[90,60,80,70]}
df4=pd.DataFrame(data=d,index=['춘향','몽룡','향단','방자'])
df4

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

#### 1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

In [5]:
# 모든 학생의 수학 점수를 시리즈로 나타낸다.
df4['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

#### 2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

In [6]:
# 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df4[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

#### 3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

In [7]:
# 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

df4['평균점수']=(df4['국어']+df4['영어'] +df4['수학'])/3
df4

    국어  영어  수학       평균점수
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

#### 4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

In [8]:
# 방자의 영어 점수를 80점으로 수정하고 평균 점수도 
# 다시 계산한다.
df4['방자']['영어']=80
df4

KeyError: '방자'

#### 5) 몽룡의 점수를 데이터프레임으로 나타낸다.

In [9]:
# 몽룡의 점수를 데이터 프레임으로 나타내는 경우

df4[['몽룡':'몽룡']]

SyntaxError: invalid syntax (2698778705.py, line 3)

#### 6) 향단의 점수를 시리즈로 나타낸다.

In [11]:
# 향단의 점수 시리즈로
# 시리즈는 열방향 데이터일 경우에 추출 가능

df4['국어','영어','수학','평균점수']['향단']

KeyError: ('국어', '영어', '수학', '평균점수')